In [23]:
'''
CARACTERÍSTICAS:
- LENGUAJE DE PROPÓSITO GENERAL
- MULTIPARADIGMA poo, imperativa (sentencias bucles), funcional (módulos y funciones)
- INTERPRETADO
- MULTIPLATAFORMA
- TIPADO DINÁMICO, no es necesario decirle el tipo de dato a la variable
- FUERTEMENTE TIPADO, no permite sumar números y texto
- ORIENTADO A OBJETOS
'''
print ("Hello, Python world")
# Correct indentation
print ("Programming is an important skill for Data Science")
print ("Statistics is a important skill for Data Science")
print ("Business domain knowledge is a important skill for Data Science")

Hello, Python world
Programming is an important skill for Data Science
Statistics is a important skill for Data Science
Business domain knowledge is a important skill for Data Science

In [24]:
print ('Python object types')
none = None # singleton null object
boolean = bool(True)
integer = 1
Long = 3.14
# float
Float = 3.14
Float_inf = float('inf')
Float_nan = float('nan')
# complex object type, note the usage of letter j
Complex = 2+8j
# string can be enclosed in single or double quote
string = 'this is a string'
me_also_string = "also me"
List = [1, True, 'ML'] # Values can be changed
Tuple = (1, True, 'ML') # Values can not be changed
Set = set([1,2,2,2,3,4,5,5]) # Duplicates will not be stored '**conjunto**'
# Use a dictionary when you have a set of unique keys that map to values
Dictionary = {'a':'A', 2:'AA', True:1, False:0}
# lets print the object type and the value
print (type(none), none)
print (type(boolean), boolean)
print (type(integer), integer)
print (type(Long), Long)
print (type(Float), Float)
print (type(Float_inf), Float_inf)
print (type(Float_nan), Float_nan)
print (type(Complex), Complex)
print (type(string), string)
print (type(me_also_string), me_also_string)
print (type(Tuple), Tuple)
print (type(List), List)
print (type(Set), Set)
print (type(Dictionary), Dictionary)

Python object types
<class 'NoneType'> None
<class 'bool'> True
<class 'int'> 1
<class 'float'> 3.14
<class 'float'> 3.14
<class 'float'> inf
<class 'float'> nan
<class 'complex'> (2+8j)
<class 'str'> this is a string
<class 'str'> also me
<class 'tuple'> (1, True, 'ML')
<class 'list'> [1, True, 'ML']
<class 'set'> {1, 2, 3, 4, 5}
<class 'dict'> {'a': 'A', 2: 'AA', True: 1, False: 0}

In [25]:
# This is a single line comment in Python
print ("Hello Python World") # This is also a single line comment in Python

""" This is an example of a multi line
comment that runs into multiple lines.
Everything that is in between is considered as comments
"""
# Example of implicit line continuation
x = ('1' + '2' +
    '3' + '4')

# Example of explicit line continuation
y = '1' + '2' + \
    '11' + '12'

weekdays = ['Monday', 'Tuesday', 'Wednesday',
'Thursday', 'Friday']

weekend = {'Saturday',
           'Sunday'}

print ('x has a value of', x)
print ('y has a value of', y)
print (weekdays)
print (weekend)

Hello Python World
x has a value of 1234
y has a value of 121112
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
{'Sunday', 'Saturday'}

In [27]:
print("Arithmetic Operators\n")
# Variable x holds 10 and variable y holds 5
x = 10
y = 5
# Addition
print ("Addition, x(10) + y(5) = ", x + y)
# Subtraction
print ("Subtraction, x(10) - y(5) = ", x - y)
# Multiplication
print ("Multiplication, x(10) * y(5) = ", x * y)
# Division
print ("Division, x(10) / y(5) = ",x / y)
# Modulus
print ("Modulus, x(10) % y(5) = ", x % y)
# Exponent
print ("Exponent, x(10)**y(5) = ", x**y)
# Integer division rounded towards minus infinity
print ("Floor Division, x(10)//y(5) = ", x//y)

Arithmetic Operators

Addition, x(10) + y(5) =  15
Subtraction, x(10) - y(5) =  5
Multiplication, x(10) * y(5) =  50
Division, x(10) / y(5) =  2.0
Modulus, x(10) % y(5) =  0
Exponent, x(10)**y(5) =  100000
Floor Division, x(10)//y(5) =  2

In [28]:
print ("Comparison or Relational Operators\n")
# Variable x holds 10 and variable y holds 5
x = 10
y = 5
# Equal check operation
print ("Equal check, x(10) == y(5) ", x == y)
# Not Equal check operation
print ("Not Equal check, x(10) != y(5) ", x != y)
# Not Equal check operation
#print ("Not Equal check, x(10) <>y(5) ", x<>y)
# Less than check operation
print ("Less than check, x(10) <y(5) ", x<y)
# Greater check operation
print ("Greater than check, x(10) >y(5) ", x>y)
# Less than or equal check operation
print ("Less than or equal to check, x(10) <= y(5) ", x<= y)
# Greater than or equal to check operation
print ("Greater than or equal to check, x(10) >= y(5) ", x>= y)

Comparison or Relational Operators

Equal check, x(10) == y(5)  False
Not Equal check, x(10) != y(5)  True
Less than check, x(10) <y(5)  False
Greater than check, x(10) >y(5)  True
Less than or equal to check, x(10) <= y(5)  False
Greater than or equal to check, x(10) >= y(5)  True

In [29]:
print ("Assignment Operators\n")
# Variable x holds 10 and variable y holds 5
x = 5
y = 10
x += y
print( "Value of a post x+=y is ", x)
x *= y
print( "Value of a post x*=y is ", x)
x /= y
print( "Value of a post x/=y is ", x)
x %= y
print( "Value of a post x%=y is ", x)
x **= y
print ("Value of x post x**=y is ", x)
x //= y
print ("Value of a post x//=y is ", x)

Assignment Operators

Value of a post x+=y is  15
Value of a post x*=y is  150
Value of a post x/=y is  15.0
Value of a post x%=y is  5.0
Value of x post x**=y is  9765625.0
Value of a post x//=y is  976562.0

In [40]:
print("Bitwise Operators\n")
#Basic six bitwise operations
#Let x = 10 (in binary0000 1010) and y = 4 (in binary0000 0100)
x = 10
y = 4
print (x & y  ) # Bitwise AND bit a bit
print (x | y )  # Bitwise OR bit a bit
print (x ^ y) # Bitwise XOR bit a bit
print (~x) # Bitwise NOT bit a bit
print (x >> 2 ) # Right Shift Desplazamiento a la derecha
print (y << 1)  # Left Shift Desplazamiento a la izquierda

Bitwise Operators

0
14
14
-11
2
8

In [42]:
print("Logical Operators\n")
var1 = True
var2 = False
print('var1 and var2 is',var1 and var2)
print('var1 or var2 is',var1 or var2)
print('not var1 is',not var1)

Logical Operators

var1 and var2 is False
var1 or var2 is True
not var1 is False

In [43]:
print("Membership Operators\n")
var1 = 'Hello world'# string
var2 = {1:'a',2:'b'}# dictionary
print('H' in var1)
print('hello' not in var2)
print(1 in var2)
print('a' in var2)

Membership Operators

True
True
True
False

In [44]:
print("Identity Operators\n")
var1 = 5
var1 = 5
var2 = 'Hello'
var2 = 'Hello'
var3 = [1,2,3]
var3 = [1,2,3]
print(var1 is not var1)
print(var2 is var2)
print(var3 is var3)

Identity Operators

False
True
True

In [9]:
x = 1
if x == 1:
    print ('Single if')

Single if

In [11]:
# Correct indentation, note that if statement here is an example of suites - if - else
if x == 1:
    print ('x has a value of 1')
else:
    print ('x does NOT have a value of 1')

x has a value of 1

In [13]:
# Correct indentation, note that if statement here is an example of suites - if - else
if x == 1: print ('x has a value of 1')
else: print ('x does NOT have a value of 1')

x has a value of 1

In [18]:
# elif
x = 11
if x == 1:
    print ('x has a value of 1')
elif x>=5 and x<=10:
    print ('x has a values between 5 and 10')
else:
    print ('x es mayor')

x es mayor

In [20]:
if x == 1:
    print ('x has a value of 1')
else:
    if x == 2:
        print ('x has a value of 2')
    else:
        print ('x does NOT have a value of 1')

x does NOT have a value of 1

In [45]:
print ("Iteration\n")
# First Example
print ("First Example")
for item in [1,2,3,4,5]:
    print ('item :', item)

Iteration

First Example
item : 1
item : 2
item : 3
item : 4
item : 5

In [46]:
# Second Example
print ("Second Example")
letters = ['A', 'B', 'C']
for letter in letters:
    print ('First loop letter :', letter)

Second Example
First loop letter : A
First loop letter : B
First loop letter : C

In [47]:
# Third Example - Iterating by sequency index
print ("Third Example")
for index in range(len(letters)):
    print ('First loop letter :', letters[index])

Third Example
First loop letter : A
First loop letter : B
First loop letter : C

In [48]:
# Fourth Example - Using else statement
print ("Fourth Example")
for item in [1,2,3,4,5]:
    print ('item :', item)
else:
    print ('looping over item complete!\n')

Fourth Example
item : 1
item : 2
item : 3
item : 4
item : 5
looping over item complete!

In [49]:
count = 0
while count <5:
    print (count, " is  less than 5")
    count = count + 1
else:
    print (count, " is not less than 5")

0  is  less than 5
1  is  less than 5
2  is  less than 5
3  is  less than 5
4  is  less than 5
5  is not less than 5

In [51]:
print ("Lists\n")
# Create lists
list_1 = ['Statistics', 'Programming', 2016, 2017, 2018]
list_2 = ['a', 'b', 1, 2, 3, 4, 5, 6, 7 ]
# Accessing values in lists
print ("list_1[0]: ", list_1[0])
print ("list2_[1:5]: ", list_2[1:4])
print ("list_1 values: ", list_1)

Lists

list_1[0]:  Statistics
list2_[1:5]:  ['b', 1, 2]
list_1 values:  ['Statistics', 'Programming', 2016, 2017, 2018]

In [53]:
# Adding new value to list
list_1.append(2019)
print ("Values of list_1: ", list_1)

Values of list_1:  ['Statistics', 'Programming', 2016, 2017, 2018, 2019, 2019]

In [54]:
# Updating existing value of list
print ("Index 2 value : ", list_1[2])
list_1[2] = 2015
print ("Index 2's new value : ", list_1[2])
print ("list_1 values: ", list_1)

Index 2 value :  2016
Index 2's new value :  2015
list_1 values:  ['Statistics', 'Programming', 2015, 2017, 2018, 2019, 2019]

In [56]:
# Deleting list element
print ("list_1 values: ", list_1)
del list_1[5]
print ("After deleting value at index 5 : ", list_1)

list_1 values:  ['Statistics', 'Programming', 2015, 2017, 2018, 2019]
After deleting value at index 5 :  ['Statistics', 'Programming', 2015, 2017, 2018]

In [57]:
print ("Tuplas\n")
# Create lists
list_1 = ('Statistics', 'Programming', 2016, 2017, 2018)
# Accessing values in lists
print ("list_1 values: ", list_1)

Tuplas

list_1 values:  ('Statistics', 'Programming', 2016, 2017, 2018)

In [58]:
print ("Index 2 value : ", list_1[2])
list_1[2] = 2015 #This code display error - Las tuplas no aceptan modificaciones en su estructura

Index 2 value :  2016

TypeError: 'tuple' object does not support item assignment

In [59]:
del list_1[5] #This code display error - Las tuplas no aceptan modificaciones en su estructura

TypeError: 'tuple' object doesn't support item deletion

In [60]:
print (len(list_1))

5

In [68]:
# Set = Conjunto, es mutable, luego de ser creado se pueden agregar o eliminar elementos
# No permite elementos repetido
print ("Set\n") 
# Create set
c1 = set([0,1,1,1,2,2,3,4,5,6,7,7,8,9])
print (c1)

Set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [72]:
# Agregando nuevos elementos al conjunto
c1.add(10)
print (c1)
c1.add(10) #No lo agrega, no permite repetidos
print (c1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [73]:
# Actualizando elementos en el conjunto
c1.update([8,9,10,11])
print (c1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [74]:
# Eliminando elementos en el conjunto
c1.remove(1)
print (c1)
c1.discard(5)
print (c1)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{0, 2, 3, 4, 6, 7, 8, 9, 10, 11}

In [75]:
# Eliminar elementos aleatorios
c1.pop()
print (c1)

{2, 3, 4, 6, 7, 8, 9, 10, 11}

In [76]:
# Limpiar el conjunto
c1.clear()
print (c1)

set()

In [77]:
# frozenset = Conjunto inmutable, luego de ser creado NO se pueden agregar o eliminar elementos
# No permite elementos repetido
print ("Frozenset\n") 
# Create set
c1 = frozenset(['a','e','i','o','u'])
print (c1)

Frozenset

frozenset({'a', 'u', 'o', 'i', 'e'})

In [79]:
c1.add(1) # INMUTABLE

AttributeError: 'frozenset' object has no attribute 'add'

In [82]:
# Diccionario
print ("Dictionary\n") 
d = ({
    1:'Chiquimula',
    2:'Jocotán',
    3:'Camotán'
})
print (d)

Dictionary

{1: 'Chiquimula', 2: 'Jocotán', 3: 'xx'}

In [91]:
#Agregando un nuevo elemento al diccionario
d[4] = 'Ipala'
print (d)

{1: 'Chiquimula', 2: 'Jocotán', 3: 'xx', '4': 'Ipala', 4: 'Ipala'}

In [94]:
#Removiendo un elemento
d.pop(4)
print (d)

{1: 'Chiquimula', 2: 'Jocotán', 3: 'xx'}

In [96]:
# Ingresar valores desde el teclado
print ("¿Cuál es tu nombre?")
n = input()
print (f"Hola {n}")

¿Cuál es tu nombre?

 He

Hola He